.heading
{
  font-size: 26px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
}
.heading_div
{
  float: none;
  background: white ;
  border-radius: 20px;
  color: black;
  padding: 10px;
  box-shadow:5px 5px 5px grey;
}
.heading_div2
{
  font-size: 18px ;
 
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}
.result_para_tag span
{
white-space:preline;
}

.copy_right_footer
{
  position: fixed;
  color:antiquewhite;
  bottom: 0;
  width: 100%;
  background-color: burlywood;
  line-height: 3;
  text-align: center;
}

canvas{
  border:5x solid grey;
  box-shadow: 5px 5px 5px pink;
  margin-top: 160px;
}





